<div class="row">
	<div class="container">
		<strong class="pull-right-">
		<u>
    {{mes|length}} commentaire(s)  
    </u>
	</strong>
	</div>
</div>
{%for m in mes %}
{%set p = m.poste.employe %}
<div class="box-comment">
    <img class="img-circle img-sm" src="{{asset(p.image)}} " alt="User Image">

                <div class="comment-text">
                      <span class="username">
                        {{p.prenom}} {{p.nom|upper}}
                        <span class="text-muted pull-right">
                        	
                        	{#{dureeLitterale(m.at)}#}
                          {{m.at|date('d-m-Y H:i')}}
                        </span>
                      </span><!-- /.username -->
                  {{m.commentaire|raw}}
                </div>
                <!-- /.comment-text -->
              </div>
{%endfor%}