
{%if recherche is null %}
<div class="row">
	<div class="col-md-4">
		<img src="{{asset('img/dh.png')}} " style="max-width: 100%">
	</div>
	<div class="col-md-8">
		
		<h4>
			{{employe.nomprenom()}}
		</h4>
		<h6>
			
			<a href="mailto:{{employe.email}}" class="users-list-name">
			<i class="fa-at fa"></i> : 
	        	{{employe.email}}
	        </a>
	    </h6>
	    
	    
	    	
	        <h6>
	        	<i class="fa-graduation-cap fa"></i>
	            {{employe.profil.nom}}
	        </h6>
	        
	</div>
</div>
{%else%}
<div class="row">
	<div class="col-md-1 col-sm-2 col-xs-3">
		<img src="{{asset('img/dh.png')}} " class="img-circle" style="max-width: 100%">
	</div>
	<div class="col-md-11 col-sm-10 col-xs-9" >
	
		<h6>
			<i class="fa-at fa"></i> : 
			<a href="mailto:{{employe.email}}">
	        	{{employe.email}}
	        </a>
	    </h6>
	  
	    
	</div>
</div>

{%endif%}

	            						
	            						
	            						