{%extends 'TRCCoreBundle::Admin/index.html.twig'%}
{%block title%}
PROBA:{{type.nom}}
{%endblock%}
{%block titre%}
	{{parent()}}
  <li class="active">
  	<a href="{{url('trc_core_admin_type',{type:type.code})}} ">
  		<i class="fa fa-angle-right"></i>
        <i class="fa fa-tag"></i>
  		Fonction :: {{type.nom}}
  	</a>
    
  </li>
{%endblock titre%}
{%block content%}
	<div class="row">
		<h2 class="text-center">
			{{type.nom}}
		</h2>
	</div>
	<br>
	<div class="row">
		<div class="span7">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Les Macro-Processus [{{macros|length}}] </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts"> 
              	{%if macros|length > 0 %}
              		{%for t in macros %}

              			<a href="{{url('trc_core_admin_type_macro',{macro:t.code,type:type.code})}}" class="shortcut">
			              
			              <span class="shortcut-label">{{t.nom}} </span> 
		              </a>
              		{%endfor%}
              	{%else%}
              		<div class="alert alert-danger text-center">
              			<h3>
              				Aucun Macro processus
              			</h3>
              		</div>
              	{%endif%}
              
              
              </div>
              <!-- /shortcuts --> 
            </div>
            <!-- /widget-content --> 
          </div>
        
        </div>
        <div class="span4">
        	<h4>Ajout de macro-processus</h4>
        	{{form(form)}}
        </div>
	</div>
{%endblock content%}