<li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ asset('img/dh.png') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">
              {{agent.prenom|upper}}
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ asset('img/dh.png') }}" class="img-circle" alt="User Image">

                <p>
                	
                  {{agent.prenom~" "~agent.nom|upper}} <br>
                 <small>
                    {{ agent.entite.code }} {{ agent.profil.code }}
                 </small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!-- <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div> -->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left"></div>
                <div class="pull-right">
                  <a href="{{url('fos_user_security_logout')}} " class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>