<ul class="sidebar-menu" id="my-sidebar">
        <li class="header text-center">
          {%block app%}
          {{"SIRON 1.0.3"|upper}}
          {%endblock%}
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-bell"></i> <span>Alertes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="alertes">
                <a href="{{ url('trc_core_les_alerts') }}">
                  <i class="fa fa-circle-o"></i> Liste
                </a>
              </li>
              <li class="ajout-alerte">
                <a href="{{ url('trc_core_creer_alerte') }} ">
                  <i class="fa fa-circle-o"></i> Ajouter
                </a>
              </li>
                
                
            
          </ul>
        </li>
{% if is_granted("ROLE_ADMIN") %}
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Employés</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="utilisateurs">
                <a href="{{ url('trc_admin_utilisateurs') }}">
                  <i class="fa fa-circle-o"></i> Liste
                </a>
              </li>
              <li class="ajout-utilisateur">
                <a href="{{ url('trc_admin_ajoututil') }}">
                  <i class="fa fa-circle-o"></i> Ajouter
                </a>
              </li>
                
                
            
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i> <span>Entités</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="entites">
                <a href="{{ url('trc_admin_services') }}">
                  <i class="fa fa-circle-o"></i> Liste
                </a>
              </li>
              
                
                
            
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i> <span>Clients</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="clients">
                <a href="{{ url('trc_admin_clients') }}">
                  <i class="fa fa-circle-o"></i> Liste
                </a>
              </li>
              
                
                
            
          </ul>
        </li>
        
    {%endif%}

      </ul>